{% load static %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Oromsoy Resort</title>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{% static 'css/main.css' %}">
<link rel="stylesheet" href="{% static 'css/about.css' %}">
<link rel="stylesheet" href="{% static 'css/rooms.css' %}?v=20260625-12">
<link rel="stylesheet" href="{% static 'css/activities.css' %}?v=20260625-2">
<link rel="stylesheet" href="{% static 'css/dining.css' %}">
<link rel="stylesheet" href="{% static 'css/gallery.css' %}?v=20260625-3">
<link rel="stylesheet" href="{% static 'css/contacts.css' %}">
<link rel="stylesheet" href="{% static 'css/header.css' %}?v=20260625-3">
<link rel="stylesheet" href="{% static 'css/footer.css' %}">
<link rel="stylesheet" href="{% static 'css/reviews.css' %}">
<link rel="stylesheet" href="{% static 'css/responsive.css' %}?v=20260625-4">
