{% load static %}
<script src="{% static 'js/scroll.js' %}"></script>
<!-- Версия сбрасывает агрессивный кэш Safari после переделки модалки номеров. -->
<script src="{% static 'js/rooms.js' %}?v=20260625-10"></script>
<script src="{% static 'js/about.js' %}"></script>
<script src="{% static 'js/reviews.js' %}"></script>
<script src="{% static 'js/activities.js' %}?v=20260625-2"></script>
<script src="{% static 'js/contacts.js' %}"></script>
<script src="{% static 'js/gallery.js' %}"></script>
<script src="{% static 'js/restaurant.js' %}"></script>
