{% load static %}
<footer class="site-footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-logo">
        <span>Oromsoy Resort</span>
      </div>
      <div class="footer-links">
        <a href="#about">About</a>
        <a href="#rooms">Rooms</a>
        <a href="#activities">Activities</a>
        <a href="#dining">Dining</a>
        <a href="#contacts">Contacts</a>
      </div>
      <div class="footer-social">
        <!-- твои иконки соцсетей -->
        <a href="#"><img src="{% static 'images/icons/face.png' %}" alt="FB"></a>
        <a href="#"><img src="{% static 'images/icons/insta.png' %}" alt="IG"></a>
        <a href="#"><img src="{% static 'images/icons/telega.png' %}" alt="TG"></a>
        <a href="#"><img src="{% static 'images/icons/treds.png' %}" alt="TR"></a>
      </div>
    </div>
    <p class="copyright">© 2026 Oromsoy Resort. All rights reserved.</p>
  </div>
</footer>