{% load static %}
<header class="site-header">
  <div class="container header-inner">

    <!-- LOGO -->
    <div class="logo">
      <img src="{% static 'images/icons/logo.png' %}" alt="Oromsoy Resort">
      <span>Oromsoy Resort</span>
    </div>

    <!-- NAVIGATION -->
    <nav class="main-nav">
      <a href="#about">About Us</a>
      <a href="#rooms">Rooms & Suites</a>
      <a href="#activities">Activities</a>
      <a href="#dining">Dining Bar</a>
      <a href="#contacts">Contacts</a>
    </nav>

    <!-- SOCIAL ICONS -->
    <div class="social">
      <a href="#"><img src="{% static 'images/icons/facebook.png' %}" alt="FB"></a>
      <a href="#"><img src="{% static 'images/icons/instagram.png' %}" alt="IG"></a>
      <a href="#"><img src="{% static 'images/icons/youtube.png' %}" alt="YT"></a>
      <a href="#"><img src="{% static 'images/icons/x.png' %}" alt="X"></a>
      <a href="#"><img src="{% static 'images/icons/telegram.png' %}" alt="TG"></a>
    </div>
  </div>
</header>