<header class="site-header">
  <div class="container header-inner">

    <!-- LOGO -->
    <div class="logo">
      <img src="/static/images/x.png" alt="Oromsoy Resort">
      <span>Oromsoy Resort</span>
    </div>

    <!-- NAVIGATION -->
    <nav class="main-nav">
      <a href="#about">About Us</a>
      <a href="#rooms">Rooms</a>
      <a href="#activities">Activities</a>
      <a href="#restaurant">Restaurant</a>
      <a href="#contacts">Contacts</a>
    </nav>

    <!-- SOCIAL ICONS -->
    <div class="social">
      <a href="#"><img src="/images/icons/facebook.png" alt="FB"></a>
      <a href="#"><img src="/images/icons/instagram.png" alt="IG"></a>
      <a href="#"><img src="/images/icons/youtube.png" alt="YT"></a>
      <a href="#"><img src="/images/icons/x.png" alt="X"></a>
      <a href="#"><img src="/images/icons/telegram.png" alt="TG"></a>
    </div>

    <!-- BURGER MENU (tablet/mobile) -->
    <div class="burger">
      <span></span>
      <span></span>
      <span></span>
    </div>

  </div>
</header>

<!-- MOBILE MENU -->
<div class="mobile-menu">
  <a href="#about">About Us</a>
  <a href="#rooms">Rooms & Suites</a>
  <a href="#activities">Activities</a>
  <a href="#dining">Dinning Bar</a>
  <a href="#contacts">Contacts</a>
  <div class="mobile-social">
    <a href="#"><img src="/images/icons/facebook.png" alt="FB"></a>
    <a href="#"><img src="/images/icons/instagram.png" alt="IG"></a>
    <a href="#"><img src="/images/icons/youtube.png" alt="YT"></a>
    <a href="#"><img src="/images/icons/x.png" alt="X"></a>
    <a href="#"><img src="/images/icons/telegram.png" alt="TG"></a>
  </div>
</div>
