{% extends "site/base.html" %}

{% block content %}

  {% load static %}
  <!-- Hero -->
  {% include "site/components/hero.html" %}

  <!-- Welcome / About -->
  {% include "site/components/about.html" %}
  <!-- Rooms -->
  {% include "site/components/rooms.html" %}
  <!-- Activities -->
  {% include "site/components/activities.html" %}
  <!-- Dining bar -->
  {% include "site/components/restaurant.html" %}
  <!-- Contacts -->
  {% include "site/components/contacts.html" %}
  <!-- Footer -->
  {% include "site/components/footer.html" %}

{% endblock %}